 <!-- START HOME -->
   <div class="page nopad" id="home">
    
        <header>   
           
             <div class="container">
               
                   <div class="row">
                                                  
                       <div class="span12">
                           
                           <div class="logo">  
                            <a class="brand" href="#">STOCK FRAUD ANALYZER</a><br />
                            <span class="slogan">Your Advisor :)</span>
                         </div>
                     
                        </div> <!-- end span12 -->
            
                  </div> <!-- end row -->
              
             </div> <!-- end container -->
       
       </header>  <!-- end header -->
     
       <div class="top-nav"> 
       
         <div class="container">
         
            <div class="row">
         
               <div class="span12">
                  
                  <nav id="nav-button">
                    <div id="menu-button">
                       <div id="menu-button-inner"><i class=" icon-align-justify"></i>Menu</div>
                    </div>
                   </nav> 
                   
                   <div class="menu-wrap">
                    
                     <nav id="menu">
                                                  
                          <ul id="navigation">
                          
                            
                           <li>
                              <a href="#home" class="active firstCh">
                                <span>Home</span>
                                <i class="icon-home icon-2x"></i>
                              </a>
                            </li>
                             <li>
                              <a href="#contact" class="secondCh">
                                <span>Check Your Stock</span>
                                <i class="icon-envelop icon-2x"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#work">
                                <span>Work</span>
                                <i class="icon-wrench icon-2x"></i>
                              </a>
                            </li>
                            
                            <li>
                              <a href="#news">
                                <span>STOCKS</span>
                                <i class="icon-globe  icon-2x"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#about" class="lastCh">
                                <span>WHY US ?</span>
                                <i class="icon-group icon-2x"></i>
                              </a>
                            </li>  
                          </ul>
                          
                    </nav> <!-- end menu -->
                  
                  </div>   <!-- end menu-wrap -->
                  
               </div> <!-- end span12 -->
             
             </div>  <!-- end row -->
             
           </div>  <!-- end container -->
     
       </div>   <!-- end top-nav -->
       
      
       <!-- START REVOLUTION SLIDER -->
       <div class="fullwidthbanner-container">
       
            <div class="fullwidthbanner">
                <ul>
                    <!-- THE FIRST SLIDE -->
                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="img/thumbs/thumb1.jpg">
                                <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                                <img src="img/revslides/1.png" data-fullwidthcentering="on" alt="image wide 1" />
    
                                <!-- THE CAPTIONS IN THIS SLDIE -->
                        
                        <div class="caption lfl ltb" data-x="0" data-y="190" data-speed="900" data-start="1500" data-easing="easeOutBack" data-end="7800" data-endspeed="600" data-endeasing="easeInSine"><img src="img/revslides/s13.png" alt="ipad" /></div>
                        
                        <div class="caption lfb ltb big_header" data-x="500" data-y="230" data-speed="900" data-start="3500" data-easing="easeOutBack" data-end="8200" data-endspeed="600" data-endeasing="easeInSine">The Stock Fraud Analyzer<br />
                       </div>
                       <div class="caption lfb ltb big_header" data-x="500" data-y="270" data-speed="900" data-start="3700" data-easing="easeOutBack" data-end="8400" data-endspeed="600" data-endeasing="easeInSine">Spend Wisely :)<i class="icon-picture"></i>
                        </div>                                 
                    </li>
    
                    <!-- THE SECOND SLIDE -->
                    <li data-transition="papercut" data-slotamount="15" data-masterspeed="2300" data-delay="9400" data-thumb="img/thumbs/thumb2.jpg">
                                <img src="img/revslides/2.png" data-fullwidthcentering="on" alt="wide slide2" />
    
                               
                                <div class="caption lfb ltt" data-x="500" data-y="0" data-speed="600" data-start="1100" data-easing="easeOutCubic" data-end="3100" data-endspeed="600" data-endeasing="easeInSine"><img src="img/revslides/13.png" alt="section1" /></div>
    
                              
                                     
                               	
    
    
                    </li>
    
                    <!-- THE THIRD SLIDE -->
                    <li data-transition="flyin" data-slotamount="1" data-masterspeed="300" data-thumb="img/thumbs/thumb5.jpg">
    
                            <img src="img/revslides/11.png" data-fullwidthcentering="on" alt="wide slide 4" />
    
    
                            <div class="tp-caption sft" data-x="162" data-y="170" data-speed="5000" data-start="1500" data-easing="easeOutExpo" data-end="7000" data-endspeed="3000" data-endeasing="easeOutBack"> <img src="img/revslides/s13.png" alt="tatto1" /> </div>
    
                                                 
                    </li>
    
                </ul>
    
                <div class="tp-bannertimer"></div>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
       
    </div>  
    <!-- END HOME -->
      <!-- START CONTACT -->  
     <div class="page" id="contact">
        
        <!-- START CONTACT WRAP -->  
        <div class="contact-wrap"> 
        
         
         
          <div class="container">
           
             <div class="row">
                 
               <div class="contact-inner-wrap">

                 <div class="span6 clearfix">
  
                   <h5 class="contact-title">Check Stock</h5>
                 
                     <form method="post" class="form-main" />
                        
                        <div class="group-form">
                        
                            <label for="contact-name" class="control-label">Stock Name:</label>
                          
                           <div class="group">
                           
                                <i class="icon-user"></i>
                                <input type="text" id="contact-name" />
                            
                           </div> <!-- end group -->
                            
                         </div>   <!-- end group-form -->
                      
                          
                       
                          
                          <div class="group-form">
                          
                            <input type="submit" class="btn" value="Check Stock" />
                            
                          </div> <!-- end group-form -->
                   </form>
                 
                 </div> <!-- end span6 --> 
                 
                
              
              </div> <!-- end contact-inner-wrap -->
              
           </div> <!-- end row --> 
           
         </div>  <!-- end container -->            
            
       </div> <!-- end contact-wrap -->    
    
     </div> 
     <!-- END CONTACT -->
    <!-- START ABOUT -->
    <div class="page" id="about">
        
      <div class="about-wrap">
        
        <div class="container">
          
          <div class="row">
          
            <div class="span12">
            
                <div class="sectionTitle">
                
                    <h2>WHY US ?</h2>
                    
                 </div> <!-- end sectionTitle -->
                 
              </div> <!-- end span12 -->
        <iframe title="YouTube video player" class="youtube-player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/rcAd7e8z_W0" frameborder="0" allowfullscreen></iframe>
           </div> <!-- end row -->
            
        </div> <!-- end container -->  
          
        <div class="container"> 
            
          <div class="row">    
           
                <div class="about-description">    
                  
                    <div class="span4">
                          
                        <h4>Who We Are</h4>
                              <p>abhsbjsdbjkdbjkasbdjas</p>
                        
                    </div> <!-- end div span4 -->
                      
                       <div class="span4">
                           
                        <h4>Our Goal</h4>   
                              <p>kfgjlbnklbnkldf</p>
                           
                      </div> <!-- end div span4 -->  
                      
                      <div class="span4">
                           
                        <h4>Our Philosophy</h4>   
                              <p>fldgjmfgnfkgdkl</p>
                           
                      </div> <!-- end div span4 -->  
                    
                </div> <!-- end div about-description -->
                
            </div> <!-- end div row --> 
            
            <div class="row">
                
               <div class="span12">
                 
                 <!-- START TAB WRAP -->   
                 <div class="tabWrap"> 
                     
                    <h4>Our Services</h4>
                       
                        <ul class="tabs">
                            <li>
                              <a href="#tab1">
                              <i class="icon-lightbulb icon-2x"></i> 
                               Graph 1 </a>
                            </li>
                            <li>
                              <a href="#tab2">
                              <i class="icon-time icon-2x"></i> 
                               Graph 2 </a>
                            </li>
                            <li>
                              <a href="#tab3">
                              <i class="icon-cogs icon-2x"></i> 
                               Graph 3  </a>
                            </li>
                            <li>
                              <a href="#tab4">
                              <i class=" icon-medkit icon-2x"></i> 
                               Graph 4 </a>
                            </li>
                    
                        </ul>  <!-- end tabs -->
                        
                        <div class="tab_container">
                        
                            <div id="tab1" class="tab_content">
                                <h5>G1 </h5>
                                <i class="icon-lightbulb icon-2x"></i> 
                                <p> </p>
                                <p></p>
                            </div>
                            
                            <div id="tab2" class="tab_content">
                                <h5>G2</h5>
                                <i class="icon-time icon-2x"></i>                     
                                <p> </p>
                                <p></p>
                            </div>
                            
                            <div id="tab3" class="tab_content">
                                <h5>G3</h5>
                                <i class="icon-cogs icon-2x"></i>
                                <p>. </p>
                                <p>.</p>
                            </div>
                            
                            <div id="tab4" class="tab_content">
                                <h5>G4</h5>
                                <i class=" icon-medkit icon-2x"></i>
                                <p> </p>
                                <p></p>
                            </div>
                            
                        </div> <!-- end tab_container -->
                  
                    </div> <!-- end tabWrap -->
              
                 </div> <!-- end span12 -->
                 
               </div>   <!-- end row -->
               
               <!-- START TEAM WRAP -->
               <div class="team-wrap">
               
                <div class="row">
               
                  <div class="span12">
                
                    <h4>Meet The Team</h4>
                  
                  </div> <!-- end span12 -->
                
                </div> <!-- end row -->
                   
                <div class="row">
                 
                     <div class="span4">
                     
                       <div class="teamMember">
 
                          <div class="teamImg-1"></div>
                        
                          <span class="teamName">Aarushi Rai</span>
                        
                          <span class="teamTitle">Graduate Student at SJSU</span>
                          
                          <div class="memberInfo">

                               <div class="memberAbout">
                               
                                    <br />
                                    
                                    
                               </div>  <!-- end memberAbout -->
                                
                               <div class="teamSocialWrap">
                            
                                <ul class="teamSocial">
                                
                                  <li><a href="#"><i class="icon-facebook-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-twitter-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-google-plus-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-envelope-alt"></i></a></li>
                                
                                </ul> <!-- end teamSocial -->
                                
                              </div> <!-- end teamSocialWrap -->
                              
                          </div>    <!-- end memberInfo -->

                     </div> <!-- end teamMember -->
                  
                  </div> <!-- end span4 --> 
                  
                  <div class="span4">
                     
                      <div class="teamMember">
 
                        <div class="teamImg-2"></div>
                        
                        <span class="teamName"></span>
                        
                        <span class="teamTitle"></span>
                                
                        <div class="memberInfo">

                               <div class="memberAbout">
                               <br />
                                    
                                    
                               </div>  <!-- end memberAbout -->
                                
                               <div class="teamSocialWrap">
                            
                                <ul class="teamSocial">
                                
                                  <li><a href="#"><i class="icon-facebook-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-twitter-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-google-plus-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-envelope-alt"></i></a></li>
                                
                                </ul> <!-- end teamSocial -->
                                
                              </div> <!-- end teamSocialWrap -->
                              
                          </div> <!-- end memberInfo --> 
      
                     </div> <!-- end teamMember -->
                  
                  </div> <!-- end span4 --> 
                  
                  <div class="span4">
                     
                      <div class="teamMember">
 
                        <div class="teamImg-3"></div>
                        
                        <span class="teamName"></span>
                        
                        <span class="teamTitle"></span>
                                

                        <div class="memberInfo">

                               <div class="memberAbout">
                               
                                    <br />
                                    
                                    
                               </div>  <!-- end memberAbout -->
                                
                               <div class="teamSocialWrap">
                            
                                <ul class="teamSocial">
                                
                                  <li><a href="#"><i class="icon-facebook-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-twitter-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-google-plus-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-envelope-alt"></i></a></li>
                                
                                </ul> <!-- end teamSocial -->
                                
                              </div> <!-- end teamSocialWrap -->
                              
                          </div> <!-- end memberInfo --> 
      
                     </div> <!-- end teamMember -->
                  
                  </div> <!-- end span4 -->
                   <div class="span4">
                     
                      <div class="teamMember">
 
                        <div class="teamImg-4"></div>
                        
                        <span class="teamName"></span>
                        
                        <span class="teamTitle"></span>
                                
                        <div class="memberInfo">

                               <div class="memberAbout">
                               
                               <br />
                                    
                                    
                               </div>  <!-- end memberAbout -->
                                
                               <div class="teamSocialWrap">
                            
                                <ul class="teamSocial">
                                
                                  <li><a href="#"><i class="icon-facebook-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-twitter-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-google-plus-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-envelope-alt"></i></a></li>
                                
                                </ul> <!-- end teamSocial -->
                                
                              </div> <!-- end teamSocialWrap -->
                              
                          </div> <!-- end memberInfo --> 
      
                     </div> <!-- end teamMember -->
                  
                  </div> <!-- end span4 --> 
                   <div class="span4">
                     
                      <div class="teamMember">
 
                        <div class="teamImg-5"></div>
                        
                        <span class="teamName"></span>
                        
                        <span class="teamTitle"></span>
                                
                        <div class="memberInfo">

                               <div class="memberAbout">
                               
                                   <br />
                                    
                                    
                               </div>  <!-- end memberAbout -->
                                
                               <div class="teamSocialWrap">
                            
                                <ul class="teamSocial">
                                
                                  <li><a href="#"><i class="icon-facebook-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-twitter-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-google-plus-sign"></i></a></li>
                                  <li><a href="#"><i class="icon-envelope-alt"></i></a></li>
                                
                                </ul> <!-- end teamSocial -->
                                
                              </div> <!-- end teamSocialWrap -->
                              
                          </div> <!-- end memberInfo --> 
      
                     </div> <!-- end teamMember -->
                  
                  </div> <!-- end span4 --> 
              
              </div> <!-- end row -->             
            
            </div> <!-- end team-wrap -->
              
          </div> <!-- end container -->
            
        </div> <!-- end div about-wrap --> 
          
    </div> 
    <!-- END ABOUT -->
    
    <!-- START WORK --> 
    <div class="page" id="work">
     
       <div class="work-wrap">
         
         <div class="container">
              
             <div class="row">
              
               <div class="span12">
                
                   <div class="sectionTitle">
                    
                        <h2>Statistical Analysis</h2>
                        <p>This hghghghghghghg<br />
                   </p>
                          
                    </div> <!--- end sectionTitle -->
                     
                </div> <!-- end span12 -->
              
              </div> <!-- end row -->
                
          </div> <!-- end container -->
       
          <div class="container">
             
             <div class="row">
                
                <div class="span12">

                    <div class="topbar">
                            <span id="close" class="back">&larr;</span>
                            <h3 id="name"></h3>
                        </div>
                        
                       
                     <!-- START TP GRID -->
                     <ul id="tp-grid" class="tp-grid">
    
                         
                        </ul>
                        <!-- END TP GRID -->
                        
                  </div>  <!-- end span12 --> 
                
                </div> <!-- end row -->  
             
             </div> <!-- end container -->
             
             
             <!-- START FW SLIDER WRAP -->
             <div class="fwslider-wrap">
          
                 <div class="container">
                  
                     <div class="row">
                      
                       <div class="span12">
                        
                           <div class="subSectionTitle">
                            
                            <h4>Analytical Graphs</h4>
                                  
                            </div> <!-- end subSectionTitle -->
                             
                        </div> <!-- end span12 -->
                      
                      </div> <!-- end row -->
                    
                 </div> <!-- end container -->

                <div id="cbp-fwslider" class="cbp-fwslider">
                    <ul>
                        <li><a href="javascript:void(0);"><img src="img/work/fwslider/1.jpg" alt="img01" /></a></li>
                        <li><a href="javascript:void(0);"><img src="img/work/fwslider/2.jpg" alt="img02" /></a></li>
                        <li><a href="javascript:void(0);"><img src="img/work/fwslider/3.jpg" alt="img03" /></a></li>
                        <li><a href="javascript:void(0);"><img src="img/work/fwslider/4.jpg" alt="img04" /></a></li>
                        
                    </ul>
                </div> <!-- end cbp-fwslider -->
                    
             </div>  
             <!-- END FW SLIDER WRAP -->
             
             <!-- START CLINT WRAP -->
          

         </div>  <!-- end work-wrap -->          
   
     </div> 
     <!-- END WORK -->
     
    
     <!-- START NEWS -->
     <div class="page" id="news">
       
       <!-- START NEWS WRAP -->
       <div class="news-wrap">
       
        <div class="container">
              
             <div class="row">
              
               <div class="span12">
                
                   <div class="sectionTitle">
                    
                    <h2>STOCKS </h2>
                        <p> The Latest Updates !<br />
                   <iframe src="http://widgets.prorealtime.com/ProRealTime_FlashQuotes/itcharts.phtml?wid=2014277316&k=299468fb5a8ee6119532bfdad2c845d0" height="400" width ="700" frameborder="0" scrolling="no"></iframe>
                    </p>
                          
                    </div> <!-- end sectionTitle -->
                     
                </div> <!-- end span12 -->
              
              </div> <!-- end row -->
                
         </div> <!-- end container --> 
       
         <div class="container">
          
            <div class="row">
              
              <div class="span12">
                   
                   <!-- START VA ACCORDION -->
                   
                   <!-- end va-container -->
              
              </div> <!-- end span12 --> 
                          
            </div> <!-- end row -->
              
            <div class="row">
              
              <div class="span12">
                
                <div class="subSectionTitle">
                            
                     <h4>up Coming Events</h4>
                                  
                </div> <!-- end subSectionTitle -->
                
                <!-- START CBP TIMELINE -->
                <ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime" datetime="2013-04-10 18:30">
                           <span class="datatimein"> <img src="img/timeline/lineimg.jpg" alt="line image" /> 
                             <span class="date">4/10/13</span> 
                             <span class="time">18:30</span>
                           </span>
                        </time>
						<div class="cbp_tmicon cbp_icon-glass"></div>
						<div class="cbp_tmlabel">
							<h4> <i class="icon-hand-right"></i> Ricebean black-eyed pea <i class="icon-hand-left"></i> </h4>
							<p>.
                            </p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04">
                           <span class="datatimein"><img src="img/timeline/lineimg3.jpg" alt="line image 3" />
                             <span class="date">4/11/13</span> 
                             <span class="time">12:04</span>
                           </span>
                        </time>
						<div class="cbp_tmicon cbp_icon-camera"></div>
						<div class="cbp_tmlabel">
							<h4> <i class="icon-hand-right"></i> Greens radish arugula <i class="icon-hand-left"></i> </h4>
							<p></p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-13 05:36">
                            <span class="datatimein"><img src="img/timeline/lineimg2.jpg" alt="line image 2" />
                              <span class="date">4/13/13</span> 
                              <span class="time">05:36</span>
                            </span>
                        </time>
						<div class="cbp_tmicon cbp_icon-food"></div>
						<div class="cbp_tmlabel">
							<h4> <i class="icon-hand-right"></i> Sprout garlic kohlrabi <i class="icon-hand-left"></i> </h4>
							<p></p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-15 13:15">
                            <span class="datatimein"><img src="img/timeline/lineimg4.jpg" alt="line image 4" />
                              <span class="date">4/15/13</span> 
                              <span class="time">13:15</span>
                            </span>
                        </time>
						<div class="cbp_tmicon cbp_icon-gift"></div>
						<div class="cbp_tmlabel">
							<h4> <i class="icon-hand-right"></i> Watercress ricebean <i class="icon-hand-left"></i> </h4>
							<p></p>
						</div>
					</li>

				 </ul> <!-- end cbp_tmtimeline --> 
              
              </div> <!-- end span12 --> 
            
            </div> <!-- end row --> 

         </div> <!-- end container --> 
           
         <div class="container">
              
            <div class="row">
                 
               <div class="span12">
                 
                
                  <!-- START CBP ROTATOR --> 
                 <!-- end cbp-qtrotator -->
                 
                 </div> <!-- end span12 --> 
              
              </div> <!-- end row --> 
           
           </div> <!-- end container --> 
       
       </div> <!-- end news-wrap --> 
          
     </div> 
     <!-- END NEWS -->
     
    
     
     <!-- START FOOTER -->  
     <footer>
     
       <div class="container">
         
         <div class="row">
           
           <div class="span12">
           
            <h1 class="footer-header">Stock Fraud Analyzer</h1>
            
            
             
             <div class="copyright">
               
               <p>Copyright © 2014</p>
                                          
             </div> <!-- end copyright -->
           
           </div> <!-- end span12 -->
          
         </div> <!-- end row -->
       
       </div> <!-- end container -->
     
     </footer>
     <!-- END FOOTER -->


        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="js/jquery.easing.1.3.js" type="text/javascript"></script>       
        <script src="js/jquery.stapel.js" type="text/javascript"></script> 
        <script src="js/jquerypp.custom.js" type="text/javascript"></script>
        <script src="js/jquery.cbpFWSlider.js" type="text/javascript"></script>
        <script src="js/jquery.fancybox.pack.js" type="text/javascript"></script> 
        <script src="js/jquery.fancybox-media.js" type="text/javascript"></script>     
        <script src="js/jquery.vaccordion.js" type="text/javascript"></script>
        <script src="js/jquery.cbpQTRotator.js" type="text/javascript"></script>
        <script src="js/waypoints.min.js" type="text/javascript"></script>
        <script src="js/jquery.sticky.js" type="text/javascript"></script>
        <script src="js/owl.carousel.js" type="text/javascript"></script>
        <script src="js/preloader.js" type="text/javascript"></script>
        
        <!-- jQuery Revolution Slider  -->
        <script src="js/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
        <script src="js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
        <script src="js/revolution.slider.call.js" type="text/javascript"></script> 
        
        <script src="js/custom.js" type="text/javascript"></script>