<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
<title>STOCK FRAUD ANALYZER</title>

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    
    <!-- ICON FONT CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" media="all" />
    
    <!-- GOOGLE FONT CSS -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />

    <!--FANCYBOX CSS -->
    <link href="css/fancybox/jquery.fancybox.css" rel="stylesheet" />
    
    <!--BOOTSTRAP CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    
    <!-- REVOLUTION BANNER CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="css/revolutionslide.css" media="all" />
    
    <!-- CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    
    <!-- MODERNIZR JS --> 
    <script src="js/modernizr.custom.94740.js" type="text/javascript"></script>
    
   	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> 


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

    
    <!-- START PRELOADER -->
    <div class="ole">
    
        <section id="jSplash">
        
            <div id="circle"></div>
            
        </section>
        
    </div>
    <!-- END PRELOADER -->
   
   <!-- START HOME -->
   <div class="page nopad" id="home">
    
        <header>   
           
             <div class="container">
               
                   <div class="row">
                                                  
                       <div class="span12">
                           
                           <div class="logo">  
                            <a class="brand" href="#">STOCK FRAUD ANALYZER</a><br />
                            <span class="slogan">Your Advisor :)</span>
                         </div>
                     
                        </div> <!-- end span12 -->
            
                  </div> <!-- end row -->
              
             </div> <!-- end container -->
       
       </header>  <!-- end header -->
     
       <div class="top-nav"> 
       
         <div class="container">
         
            <div class="row">
         
               <div class="span12">
                  
                  <nav id="nav-button">
                    <div id="menu-button">
                       <div id="menu-button-inner"><i class=" icon-align-justify"></i>Menu</div>
                    </div>
                   </nav> 
                   
                   <div class="menu-wrap">
                    
                     <nav id="menu">
                                                  
                          <ul id="navigation">
                          
                            
                           <li>
                              <a href="/" class="active firstCh">
                                <span>Home</span>
                                <i class="icon-home icon-2x"></i>
                              </a>
                            </li>
                             <li>
                              <a href="/check" class="secondCh">
                                <span>Check Your Stock</span>
                                <i class="icon-envelop icon-2x"></i>
                              </a>
                            </li>
                       
                            
                            <li>
                              <a href="/stock">
                                <span>STOCKS</span>
                                <i class="icon-globe  icon-2x"></i>
                              </a>
                            </li>
                            <li>
                              <a href="/why" class="lastCh">
                                <span>WHY US ?</span>
                                <i class="icon-group icon-2x"></i>
                              </a>
                            </li>  
                          </ul>
                          
                    </nav> <!-- end menu -->
                  
                  </div>   <!-- end menu-wrap -->
                  
               </div> <!-- end span12 -->
             
             </div>  <!-- end row -->
             
           </div>  <!-- end container -->
     
       </div>   <!-- end top-nav -->
       
  
       
    </div>  
    <!-- END HOME -->

    
     <!-- START NEWS -->
     <div class="page" id="news">
       
       <!-- START NEWS WRAP -->
       <div class="news-wrap">
       
        <div class="container">
              
             <div class="row">
              
               <div class="span12">
                
                   <div class="sectionTitle">
                    
                    <h2>STOCKS </h2>
                        <p> The Latest Updates !<br />
                   <iframe src="http://widgets.prorealtime.com/ProRealTime_FlashQuotes/itcharts.phtml?wid=2014277316&k=299468fb5a8ee6119532bfdad2c845d0" height="400" width ="700" frameborder="0" scrolling="no"></iframe>
                    </p>
                          
                    </div> <!-- end sectionTitle -->
                     
                </div> <!-- end span12 -->
              
              </div> <!-- end row -->
                
         </div> <!-- end container --> 
       
         <div class="container">
          
            <div class="row">
              
              <div class="span12">
                   
                   <!-- START VA ACCORDION -->
                   
                   <!-- end va-container -->
              
              </div> <!-- end span12 --> 
                          
            </div> <!-- end row -->
              
            <div class="row">
              
              <div class="span12">
                
                <div class="subSectionTitle">
                            
                     <h4>up Coming Events</h4>
                                  
                </div> <!-- end subSectionTitle -->
                
                <!-- START CBP TIMELINE -->
                <ul class="cbp_tmtimeline">
					<li>
						<time class="cbp_tmtime" datetime="2013-04-10 18:30">
                           <span class="datatimein"> <img src="img/timeline/lineimg.jpg" alt="line image" /> 
                             <span class="date">4/10/13</span> 
                             <span class="time">18:30</span>
                           </span>
                        </time>
						<div class="cbp_tmicon cbp_icon-glass"></div>
						<div class="cbp_tmlabel">
							<h4> <i class="icon-hand-right"></i> Ricebean black-eyed pea <i class="icon-hand-left"></i> </h4>
							<p>.
                            </p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-11T12:04">
                           <span class="datatimein"><img src="img/timeline/lineimg3.jpg" alt="line image 3" />
                             <span class="date">4/11/13</span> 
                             <span class="time">12:04</span>
                           </span>
                        </time>
						<div class="cbp_tmicon cbp_icon-camera"></div>
						<div class="cbp_tmlabel">
							<h4> <i class="icon-hand-right"></i> Greens radish arugula <i class="icon-hand-left"></i> </h4>
							<p></p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-13 05:36">
                            <span class="datatimein"><img src="img/timeline/lineimg2.jpg" alt="line image 2" />
                              <span class="date">4/13/13</span> 
                              <span class="time">05:36</span>
                            </span>
                        </time>
						<div class="cbp_tmicon cbp_icon-food"></div>
						<div class="cbp_tmlabel">
							<h4> <i class="icon-hand-right"></i> Sprout garlic kohlrabi <i class="icon-hand-left"></i> </h4>
							<p></p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2013-04-15 13:15">
                            <span class="datatimein"><img src="img/timeline/lineimg4.jpg" alt="line image 4" />
                              <span class="date">4/15/13</span> 
                              <span class="time">13:15</span>
                            </span>
                        </time>
						<div class="cbp_tmicon cbp_icon-gift"></div>
						<div class="cbp_tmlabel">
							<h4> <i class="icon-hand-right"></i> Watercress ricebean <i class="icon-hand-left"></i> </h4>
							<p></p>
						</div>
					</li>

				 </ul> <!-- end cbp_tmtimeline --> 
              
              </div> <!-- end span12 --> 
            
            </div> <!-- end row --> 

         </div> <!-- end container --> 
           
         <div class="container">
              
            <div class="row">
                 
               <div class="span12">
                 
                
                  <!-- START CBP ROTATOR --> 
                 <!-- end cbp-qtrotator -->
                 
                 </div> <!-- end span12 --> 
              
              </div> <!-- end row --> 
           
           </div> <!-- end container --> 
       
       </div> <!-- end news-wrap --> 
          
     </div> 
     <!-- END NEWS -->
     
    
     
     <!-- START FOOTER -->  
     <footer>
     
       <div class="container">
         
         <div class="row">
           
           <div class="span12">
           
            <h1 class="footer-header">Stock Fraud Analyzer</h1>
            
            
             
             <div class="copyright">
               
               <p>Copyright © 2014</p>
                                          
             </div> <!-- end copyright -->
           
           </div> <!-- end span12 -->
          
         </div> <!-- end row -->
       
       </div> <!-- end container -->
     
     </footer>
     <!-- END FOOTER -->


        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="js/jquery.easing.1.3.js" type="text/javascript"></script>       
        <script src="js/jquery.stapel.js" type="text/javascript"></script> 
        <script src="js/jquerypp.custom.js" type="text/javascript"></script>
        <script src="js/jquery.cbpFWSlider.js" type="text/javascript"></script>
        <script src="js/jquery.fancybox.pack.js" type="text/javascript"></script> 
        <script src="js/jquery.fancybox-media.js" type="text/javascript"></script>     
        <script src="js/jquery.vaccordion.js" type="text/javascript"></script>
        <script src="js/jquery.cbpQTRotator.js" type="text/javascript"></script>
        <script src="js/waypoints.min.js" type="text/javascript"></script>
        <script src="js/jquery.sticky.js" type="text/javascript"></script>
        <script src="js/owl.carousel.js" type="text/javascript"></script>
        <script src="js/preloader.js" type="text/javascript"></script>
        
        <!-- jQuery Revolution Slider  -->
        <script src="js/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
        <script src="js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
        <script src="js/revolution.slider.call.js" type="text/javascript"></script> 
        
        <script src="js/custom.js" type="text/javascript"></script> 
         


</body>
</html>
